@layer reset, init, design;
 
@import url(./normalize.css) layer(reset);
 
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap') layer(init);
 
@layer design {
    :root {
        color-scheme: light dark;
        --header-bg-color: light-dark(#3B3E40, #3B3E40);
        --header-text-color: light-dark(#fff, #fff);
        --primary-color: light-dark(#66D4D4, #3e8a8a);
        --secondary-color: light-dark(#FFF, #fff);
        --text-color: light-dark(#000, #fff);
        --bg-color: light-dark(#fff, #000)
        --section-bg-color: light-dark(#3B3E40, #3B3E40);
    }
 
    h1 {
        font-size: 4rem;
        font-weight: extra-bold;
    }
   
    .img--fluid {
        display: block;
        height: auto;
        max-width: 100%;
    }
 
    html {
        font-family: "Open Sans", sans-serif;
        font-size: 100%;
        color: var(--text-color);
    }
 
    body {
        background-color: var(--bg-color);
    }
   
    main {
        padding: 1rem;
        max-width: 960px;
        margin: 0 auto;
    }
 
    .header {
        background-image: url("../images/header-2560w.webp");
        background-size: cover;
        background-position: top left;
        background-color: var(--header-bg-color);
        color: var(--header-text-color);
        line-height: 1.5;
        padding: 1em;
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 1em;
        
    }
 
    .header__nav {
        text-align: center;
    }
 
    .header__link {
        text-align: center;
        padding-top: 1em;
    }
    .header__intro{
        margin-top: 10vh;
        max-width: 600px;
    }
    .button {
       display: inline-block;
  padding: 0.75em 2em;
  border-radius: 0.5rem;
  text-align: center;
  cursor: pointer;
  background-color: #ffffff !important;
  color: black !important ;          
  text-decoration: none;
  font-size: 1rem;

    }
    .button--light{
        background-color: black; 
  color: #ffffff; 
    }
    .img--block {
        margin: 0;
    }
    .img-block__caption {
        text-align: center;
        margin-top: 0.5em;
    }
    .li-styl {
        margin-bottom: 12px;
        font-size: 1.25rem;
        font-weight: 600;
        
    }
    .li-styl::marker {
    font-size: 1,5em;
        color: #66D4D4;
    }

    .figcaption {
        text-align: center;
        font-size: 0.875rem;
        color: gray;
        margin-top: 0.5em;
    }
    .infoblok {
        outline: 5px solid var(--primary-color);
        padding: 1em;
        margin-bottom: 2em;
        margin-top: 1em;
    }
    .card-img {
        max-width: 372px;
        max-height: 207px;
    }
   .button--card {
        display: inline-block;
        padding: 0.5em 1em;
        border-radius: 0.5rem;
        text-align: center;
        background-color: var(--primary-color);
        color: var(--secondary-color) ;
        text-decoration: none;
   }
    .card {
     padding: 1em;
     margin-bottom: 2em;
     max-width: 372px;
     max-height: 414px;
   
    }
   p {
    line-height: 1.5;   
    margin-bottom: 1em;
   }
   .card-text {
   font-size: 0.875rem;
   font-weight: 500;
   }
   .card .card_header__h1 {
    font-size: 1.25rem;
    font-weight: 700;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
   }
   .block {
    background-color: var(--bg-color);
    background-size: cover;
    background-position: unset;
    padding: 1em;
    margin-top: 1em;
    max-width: 100%;
   }
   h6 {
    font-size: 3.25rem;
    font-weight: 700;
    margin-bottom: 0.5em;
    color: #fff;
    text-align: center;
   }
   .nakup {
    padding: 2em;
   }
    .nakup .cards {
     display: flex;
        flex-wrap: wrap;
        gap: 3em;
    }
    .nakup .card {
        flex: 1 1 45%;
        box-sizing: border-box;
    }


    .infoblok--footer {
        
        text-align: center;
        font-size: 0.875rem;
        margin-top: 2em;
        color: #fff;
        margin-bottom: 1em;
        background-color: #3B3E40;
        padding-bottom: 20px;   
            
    }
    .card-text__2x {
        font-size: 2em;
    }
    .infoblok--footer__header {
        font-size: 3em;
    }
}
 